<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/3d9853b7-2201-444d-af61-7e1062602375/resourceGroups/TalentResourceGroup/providers/Microsoft.Web/sites/DevTalentOnboardingAnu3</ResourceId>
    <ResourceGroup>TalentResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://devtalentonboardinganu3.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://devtalentonboardinganu3.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$DevTalentOnboardingAnu3</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>